sphinx
sphinx-autoapi
sphinx-autodoc-typehints
sphinx-rtd-theme
myst-parser
sphinx-autodoc-typehints
sphinx-copybutton
nshconfig[extra]
nshconfig-extra[extra]
numpy
ase
scikit-learn
lightning
torchmetrics
